/**登about:cehome录配置**/
.configure-bj{background:#0f1320 url(../../images/pz-bj.png) no-repeat center;}
.configure-main{width:700px;position:absolute;left:50%;top:50%;margin-left:-350px;margin-top:-280px;}
.configure-title{width:100%;text-align: center;float:left}
.configure-city-bj{width:100%;float:left;height:400px;background:#3d4568;margin-top:45px;border-radius:10px;padding:15px 20px;}
.city-title{width:100%;float:left;font-size:18px;color:#dcdfe9}
.field-title{width:100%;height:48px;background:#262c44;margin-top:15px;float:left;border-radius:10px;padding:0 20px;}
.field-title ul li{float:left;line-height:48px;}
.field-title ul li p{float:left;font-size:14px;color:#fff;margin-left:20px;}
.field-title ul .blue{color:#3382ee}
.checkbox-fie{width:14px;height:14px;}
.choice-city{width:100%;float:left;height:266px;background:#262c44;border-radius:10px;margin-top:15px;padding:10px 20px;}
.choice-title{width:100%;float:left;}
.choice-title ul{float:left;}
.choice-title ul li{float:left;line-height:35px;font-size:14px;}
.choice-int{width:200px;height:35px;line-height:35px;background:none;border:none;font-size:14px;color:#727894;padding-left:20px;}
.choice-title ul .word{color:#3382ee}
.choice-main{width:100%;float:left;border:1px solid #2f3652;height:200px;margin-top:5px;}
.choice-left{width:376px;border-right:1px solid #2f3652;height:200px;float:left}
.choice-left-title{width:100%;float:left;height:41px;border-bottom:1px solid #2f3652;}
.choice-left-title ul{width:100%;float:left}
.choice-left-title ul li{float:left;line-height:41px;margin-left:20px;}
.choice-left-title ul li a{color:#626c9a;padding:0 6px;}
.choice-left-title ul li .current{border-bottom:2px solid #fff;padding-bottom:12px;color:#fff}
.choice-list{width:100%;float:left;padding:20px;}
.choice-list ul{width:100%;float:left}
.choice-list ul li{float:left;margin-right:20px;margin-bottom:8px;}
.choice-list ul li a{color:#7681b5;font-size:14px;height:24px;padding:0 14px;text-align: center;float:left;line-height:24px;}
.choice-list ul li .current{background:#3382ee;color:#fff;border-radius:20px;}
.choice-right{width:242px;float:left;height:200px;overflow-y:auto;}
.choice-right ul{width:100%;float:left;}
.choice-right ul li{width:100%;float:left;height:41px;border-bottom:1px solid #2f3652;padding:12px 20px;}
.choice-right ul li p{float:left;margin-right:10px;color:#7681b5}

.choice-right::-webkit-scrollbar {width: 14px;height: 14px;}  
.choice-right::-webkit-scrollbar-track,  
.choice-right::-webkit-scrollbar-thumb {  border-radius: 999px;  border: 5px solid transparent;  }  
.choice-right::-webkit-scrollbar-track {  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset; }    
.choice-right::-webkit-scrollbar-thumb {  min-height: 20px;  background-clip: content-box;  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  }  
.choice-right::-webkit-scrollbar-corner {  background: transparent;  }  
.configure-btn{width:100%;float:left;margin-top:20px;text-align: center;}

/**突发事件**/
.level-bj{background:#ebeef0;}
/**面包屑**/
.breadcrumb{width:100%;float:left;}
.breadcrumb p{float:left;line-height:55px;color:#666;font-size:14px;margin-right:6px;position:relative;}
.breadcrumb p a{font-size:14px;color:#999}
.breadcrumb p i{color:#428bef}
.breadcrumb p .suos{position:absolute;right:10px;top:0;color:#666}
/**二级外侧**/
.level-wrapper{width:1200px;margin:0 auto;padding-bottom:20px;position:relative;}
.level-left-conter{width:740px;float:left;margin-top:20px;padding-bottom:20px;}
.level-left-table{width:100%;float:left}
.level-left-table ul{width:100%;float:left;border-bottom:1px solid #dcddde;height:36px;}
.level-left-table ul li{float:left;margin-right:2px;}
.level-left-table ul li a{background:#dcddde;border-radius:5px 5px 0 0;padding:0 25px;height:36px;float:left;line-height:36px;color:#666;font-size:14px;}
.level-left-table ul li .current{background:#fff;color:#3382ee;border:1px solid #dcddde;border-bottom:1px solid #fff;}

.level-left-list{width:100%;float:left;background:#fff;border:1px solid #dcddde;border-top:none;padding:20px 28px;}
.list-form{width:100%;float:left;border-bottom:1px solid #dcddde;padding-bottom:5px;}
.list-form ul{width:100%;float:left;margin-bottom:16px;}
.list-form ul li{float:left;line-height:32px;margin-right:2px;}
.list-form ul li p{float:left;margin-right:10px;color:#999;position:relative;}
.list-form ul li p i{position:absolute;right:10px;top:0;color:#777778}
.level-news{width:100%;float:left;margin-top:20px;}
.level-news-title{width:100%;float:left}
.level-news-title p{float:left;margin-right:8px;color:#666}
.level-news-title .blue{color:#3382ee}
.level-news-list,.level-news-list ul,.level-news-list ul li{width:100%;float:left;}
.level-news-list{}
.level-news-list ul{border-bottom:1px solid #dcddde;padding-bottom:10px;}
.level-news-list ul li{margin-top:14px;}
.level-news-list ul li p{float:left}
.level-news-list ul li p span{float:left}
.level-news-list ul .title{font-size:16px;color:#2e95f3;position:relative;}
.level-news-list ul .title .yuand{position:absolute;left:-16px;top:4px;color:#f00;font-size:12px}
.level-news-list ul b{font-weight: normal;color:#ff6600}
.level-news-list ul .list{font-size:12px;color:#666;line-height:18px;}
.level-news-list ul .list a{text-decoration: underline;color:#2e95f3}
.level-news-list ul .list p span{margin-right:20px;}
.level-news-list ul .list .right{float:right}
.level-news-list ul .list .right span{margin-left:14px;margin-right:0;}
.level-news-list ul .list .right img{float:right;margin-top:3px;margin-left:4px;}
.level-news-list ul .list .right a{text-decoration:none;color:#666}
.level-news-list ul .list .right a i{color:#2e95f3}
.level-news-list ul .news{font-size:14px;color:#444}
.portrait{width:36px;height:36px;position:absolute;left:-40px;top:16px}
.portrait img{border-radius:50%;}
.user-por ul .list{margin-top:6px;}
.hot-list{width:100%;float:left;position:relative;}
/**右侧**/
.levle-right{width:440px;float:right;margin-top:20px;padding-bottom:20px;}
.levle-right-news{width:100%;float:left;background:#fff;border:1px solid #dcddde;height:515px;padding:20px;}
.levle-right-title{width:100%;float:left;border-bottom:1px solid #dcddde;padding-bottom:10px;color:#333;font-size:16px}
.sentiment-list-conter-news{width:100%;float:left;}
.sentiment-list-conter-news ul{width:100%;float:left;border-bottom:1px dashed #dcddde;padding-bottom:6px;}
.sentiment-list-conter-news ul li{float:left;font-size:14px;line-height:25px;margin-top:12px;margin-right:6px;}
.sentiment-list-conter-news ul li a{font-size:14px;color:#333}
.sentiment-list-conter-news .bordernone{border-bottom:none;}
.sentiment-list-conter-news ul .i-color{color:#999}
.sentiment-list-conter-news ul .date{float:right;color:#999}
.sentiment-list-conter-news ul .block{width:16px;height:16px;text-align:center;line-height:16px;color:#fff;border-radius:3px;margin:15px 6px 0 0;font-size:12px;}
.sentiment-list-conter-news ul .blue{background:#b2d1e8;}
.sentiment-list-conter-news ul .orange{background:#f3820b}
.sentiment-list-conter-news ul .yellow{background:#fce630}
.sentiment-list-conter-news ul .red{background:#cd2009}
.sentiment-list-conter-news ul .ash{background:#666}
.levle-right-chart{width:100%;float:left;background:#fff;border:1px solid #dcddde;height:360px;padding:20px;margin-top:20px;}
.levle-right-chart-title{width:100%;float:left}
.levle-right-chart-title p{float:left}
.levle-right-chart-title .right{float:right;font-size:12px;color:#999}
.levle-right-chart-list{width:100%;float:left;margin-top:20px;height:285px;}
/**新闻详情**/
.levle-right-map{width:100%;float:left;background:#fff;border:1px solid #dcddde;height:318px;padding:4px;}
.news-detail{width:100%;float:left;background:#fff;border:1px solid #dcddde;min-height:1200px;padding:30px;}
.news-detail-title{width:100%;float:left;text-align: center;font-size:#333;font-size:28px;padding:20px;}
.news-detail-information{width:100%;float:left;height:48px;border:1px solid #dcddde;border-radius:5px;padding:0 20px;}

.additional{position:fixed;left:0;top:0;border-radius:0;border:none;}
.news-detail-information ul{}
.additional ul{background:#000;margin:0 auto;width:1200px;}
.news-detail-information ul li{line-height:48px;float:left;margin-right:20px;position:relative;color:#999;font-size:14px;}
.news-detail-information ul li img{margin-left:6px;}
.news-detail-information ul .yuyan{width:20px;height:20px;margin-left:30px;background:url(../../images/yy-1.jpg) no-repeat;margin-top:15px;}
.news-detail-information ul li a{font-size:14px;color:#d8d8d8;}
.news-detail-information ul li a i{font-size:18px;float:left;margin-top:2px;}
.news-detail-information ul li a i:hover{color:#3382ee}
.news-detail-information ul .x-red{position:relative;}
.news-detail-information ul .x-red a{color:#eb4d38}
.news-detail-information ul .x-red i:hover{color:#eb4d38}
.news-detail-information ul .x-ash {position:relative;}
.news-detail-information ul .x-ash a{color:#d8d8d8}
.news-detail-information ul .x-ash i:hover{color:#eb4d38}
.news-detail-information ul .zhuanz span{color:#3382ee}
.news-detail-information ul .x-red span,.news-detail-information ul .x-ash span{width:24px;height:18px;position:absolute;right:-18px;top:5px;background: url(../../images/dati1.jpg) no-repeat;line-height:16px;color:#fff;font-size:12px;text-align: center;}
/**切换**/
.news-detail-information ul li .user-show{width:120px;height:100px;background:#fff;position:absolute;top:30px;right:-50px;border:1px solid #ddd;border-radius:8px;z-index:999;display: none;}
.news-detail-information ul li .user-show ul{width:120px;}
.news-detail-information ul li .user-show ul a{width:100%;float:left;color:#666;text-align:center;font-size:12px;}

.news-detail-information ul li .user-show ul .ahov1:hover{background:#adcdf8;color:#f00;border-radius:8px 8px 0 0 ;}
.news-detail-information ul li .user-show ul .ahov1 li:hover,.news-detail-information ul li .user-show ul .ahov2 li:hover,.news-detail-information ul li .user-show ul .ahov3 li:hover{color:#3382ee;}
.news-detail-information ul li .user-show ul .ahov2:hover{background:#adcdf8;color:#3382ee;}
.news-detail-information ul li .user-show ul .ahov3:hover{background:#adcdf8;color:#3382ee;border-radius: 0 0 8px 8px;}
.news-detail-information ul li .user-show ul a i{font-size:18px;margin-right:4px;}
.news-detail-information ul li .user-show ul a li{width:100%;height:33px;line-height:30px;float:left;text-align: center;}
.news-detail-information ul li .user-show  span{position:absolute;top:-27px;left:45px;}
.news-detail-information ul li .user-show  span i{color:#999;font-size:24px}
/**分享**/
.news-detail-information ul li .share-show{width:140px;height:100px;background:#fff;position:absolute;top:45px;right:-60px;border:1px solid #ddd;display:none;border-radius:8px;z-index:999;}
.news-detail-information ul li .share-show ul{width:140px;}
.news-detail-information ul li .share-show ul li{font-size:12px}
.news-detail-information ul li .share-show ul a{width:137px;float:left;color:#666;text-align:center;font-size:12px;}
.news-detail-information ul li .share-show ul .ahov1{width:137px;height:17px;background:url(../../images/fx-01.png) no-repeat;margin-top:12px;}
.news-detail-information ul li .share-show ul .ahov2{width:137px;height:17px;background:url(../../images/fx-02.png) no-repeat;margin-top:12px}
.news-detail-information ul li .share-show ul .ahov3{width:137px;height:17px;background:url(../../images/fx-03.png) no-repeat;margin-top:12px}
.news-detail-information ul li .share-show ul .ahov1:hover{border-radius:8px 8px 0 0 ;}
/*.news-detail-information ul li .share-show ul .ahov1 li:hover,.news-detail-information ul li .share-show ul .ahov2 li:hover,.news-detail-information ul li .share-show ul .ahov3 li:hover{color:#3382ee;}*/


/*.news-detail-information ul li .share-show ul .ahov2:hover{background:#adcdf8;color:#3382ee;}
.news-detail-information ul li .share-show ul .ahov3:hover{background:#adcdf8;color:#3382ee;border-radius: 0 0 8px 8px;}*/
.news-detail-information ul li .share-show ul a i{font-size:14px;margin-right:4px;}
.news-detail-information ul li .share-show ul a li{width:100%;height:33px;line-height:30px;float:left;margin:0;text-align:left;padding-left:10px;}
.news-detail-information ul li .share-show  span{position:absolute;top:-27px;left:60px;}
.news-detail-information ul li .share-show  span i{color:#999;font-size:24px}
.news-detail-news{width:100%;float:left;}
.news-detail-news ul li{margin-top:30px;}
.news-detail-share{width:100%;float:left;border-top:1px solid #dcddde;padding-top:30px;margin-top:30px;}
.news-detail-share ul li{float:left;font-size:16px;color:#999;line-height:48px;}
.news-detail-share ul li p{float:left}
.news-detail-share ul .right{float:right}
.news-detail-share ul .right a{float:left;margin-left:20px;}
.news-detail-share ul .right .red a{width:48px;height:48px;float:left;background:url(../../images/weix.png) no-repeat;}
.news-detail-share ul .right .green a{width:48px;height:48px;float:left;background:url(../../images/weibo.png) no-repeat;}
.news-detail-share ul .right .blue a{width:48px;height:48px;float:left;background:url(../../images/qq.png) no-repeat;}
/**采编**/
.editing-big{width:1000px;margin:0 auto;}
.editing-main{width:100%;float:left;margin:20px 0;background:#fff;border:1px solid #d0cfcf;min-height:780px;}
.editing-title{width:100%;float:left;height:50px;text-align:center;background:#3382ee;line-height:50px;font-size:16px;color:#fefefe}
.editing-list{width:100%;float:left;padding:30px 30px 0;}
.editing-list ul,.editing-list ul li {width:100%;float:left}
.editing-list ul li {margin-bottom:15px;}
.editing-list ul li p{float:left;font-size:14px;color:#333;margin-right:12px;line-height:32px;}
.editing-list ul .datelist{margin-bottom:5px;}
.editing-list ul li .wordcolor{color:#666}
.editing-richtext-big{width:100%;float:left;padding:0 30px;}
.editing-richtext-main{width:100%;min-height:485px;border:1px solid #d0cfcf}
.editing-btn{width:100%;float:left;text-align: center;margin-top:20px;}
.editing-btn .btn{margin-left:20px;}
/**新闻详情拖拽**/
#drag{width:440px;min-width:440px;height:1080px; cursor: move;overflow-y:auto; position: absolute; top:200px; right:0px; background:#fff; border: 1px solid #ddd;display: none;}
#coor{ width:12px; height:12px; overflow: hidden; cursor: se-resize; position: absolute; right: 0; bottom: 0; background-color: #09C; }
.drag-title{width:100%;float:left;padding:0 20px;}
.drag-title p{float:left}
.drag-title .right{float:right;margin-top:15px;}
.drag-title .right i{font-size:24px;color:#666666;cursor:pointer;}
.drag-list{width:100%;float:left;padding:0 20px;}
.drag-list-bt{width:100%;float:left;margin-top:30px;padding: ;font-size:24px;color:#333;line-height:28px;}
.drag-list-word{width:100%;float:left;margin-top:30px;}
.drag-list-word p{font-size:14px;color:#333;margin-bottom:30px;}

.drag-list::-webkit-scrollbar {width: 14px;height: 14px;}  
.drag-list::-webkit-scrollbar-track,  
.drag-list::-webkit-scrollbar-thumb {border-radius: 999px;  border: 5px solid transparent;}  
.drag-list::-webkit-scrollbar-track {box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset; }    
.drag-list::-webkit-scrollbar-thumb {min-height: 20px;  background-clip: content-box;  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}  
.choicdrag-liste-right::-webkit-scrollbar-corner {  background: transparent;}  

/**社交热点标签**/
.news-type-big{width:100%;height:50px;background:#dcddde;min-width:1200px;float:left}
.news-type-main{width:1200px;margin:0 auto;}
.news-type-main ul{width:100%;float:left}
.news-type-main ul li{float:left;margin-right:24px;margin-top:10px;line-height:29px;}
.news-type-main ul li a{color:#666;height:29px;padding:0 15px;float:left}
.news-type-main ul li a:hover{background:#3382ee;color:#fff;height:29px;border-radius:15px;}
.news-type-main ul li .current{background:#3382ee;color:#fff;height:29px;border-radius:15px;}
